[data-butane-dropdown] {
  position: relative;
  display: inline-block;
}

[data-butane-dropdown] [aria-controls] {
  appearance: none;
  font: inherit;
}

[data-butane-dropdown] [role="menu"] {
  position: absolute;
  left: 0;
  min-width: 100%;
}

[data-butane-dropdown] [role^="menuitem"] {
  appearance: none;
  text-align: left;
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
  min-width: 100%;
  white-space: nowrap;
  font: inherit;
}

/**
 * Demo specific styles
 */

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  line-height: 1.6;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 50px;
  font-family: sans-serif;
}
